<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyc.o2o_demo.dao.DishMapper">

    <insert id="addDish" parameterType="Dish" keyProperty="id" useGeneratedKeys="true" >
        insert into dish(name,type,price,pic,description,state)
        values (#{name},#{type},#{price},#{pic},#{description},#{state})
    </insert>

    <update id="updateDishById">
        update dish
        set state = #{state}
        where id = #{dishId}
    </update>

    <select id="getAllDishes" resultType="Dish">
        select *
        from dish
--         where state = 1
    </select>

    <select id="getDishesByType"  parameterType="String" resultType="Dish">
        select *
        from dish
--         where state = 1
        where type = #{type}
    </select>

    <select id="getDishInfo"  parameterType="Integer" resultType="Dish">
        select *
        from dish
--         where state = 1
        where id = #{id}
    </select>

</mapper>