<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyc.o2o_demo.dao.TableMapper">

    <insert id="addTable" useGeneratedKeys="true" keyProperty="id" >
        insert into tables(place,state,qr_code,type)
        values (#{place},#{state},#{qrCode},#{type})
    </insert>

    <update id="modifyTableState">
        update tables
        set state = #{state}
        where id = #{id}
    </update>

    <select id="getTableById" resultType="Table">
        select * from tables where id = #{id}
    </select>

    <select id="getAllTables" resultType="Table" >
        select * from tables where state = 1
    </select>


</mapper>