<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyc.o2o_demo.dao.UserMapper">
    
    <select id="selectCustomer" parameterType="String" resultType="Customer">
        select *
        from customer
        where password = #{password}
        and username = #{username}
    </select>

    <insert id="createCustomer" parameterType="com.jyc.o2o_demo.bean.Customer">
        insert into customer(username,password,phone,authority)
        values (#{username},#{password},#{phone},#{authority})
    </insert>

</mapper>